
<%= simple_form_for(@crop) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="mb-3">
      <%= f.input :plant_name %>
    </div>
    <div class="row mb-3">
      <%= f.input :started_at, html5: true %>
      <%= f.input :ended_at, html5: true %>
    </div>
    <div class="row mb-3">
      <%= f.input :quantity %>
    </div>
    <div class="row mb-3">
      <%= f.input :area %>
    </div>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
