<!DOCTYPE html>
<html>
  <head>
    <title>Mygarden</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">MyGarden</a>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-text" %>
      </div>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
